<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="School_Alarm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <School_Alarm.My.MySettings>
            <setting name="period" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="durationset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="starttheme" serializeAs="String">
                <value />
            </setting>
            <setting name="lunchtheme" serializeAs="String">
                <value />
            </setting>
            <setting name="endtheme" serializeAs="String">
                <value />
            </setting>
            <setting name="startname" serializeAs="String">
                <value />
            </setting>
            <setting name="lunchname" serializeAs="String">
                <value />
            </setting>
            <setting name="endname" serializeAs="String">
                <value />
            </setting>
            <setting name="periodtheme" serializeAs="String">
                <value />
            </setting>
            <setting name="periodname" serializeAs="String">
                <value />
            </setting>
            <setting name="strtset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h1" serializeAs="String">
                <value />
            </setting>
            <setting name="m1" serializeAs="String">
                <value />
            </setting>
            <setting name="s1" serializeAs="String">
                <value />
            </setting>
            <setting name="lunchset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h2" serializeAs="String">
                <value />
            </setting>
            <setting name="m2" serializeAs="String">
                <value />
            </setting>
            <setting name="s2" serializeAs="String">
                <value />
            </setting>
            <setting name="overset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h3" serializeAs="String">
                <value />
            </setting>
            <setting name="m3" serializeAs="String">
                <value />
            </setting>
            <setting name="s3" serializeAs="String">
                <value />
            </setting>
            <setting name="pstrthour" serializeAs="String">
                <value />
            </setting>
            <setting name="pstrtmin" serializeAs="String">
                <value />
            </setting>
            <setting name="pstrtsec" serializeAs="String">
                <value />
            </setting>
        </School_Alarm.My.MySettings>
    </userSettings>
</configuration>